/* pseudo selectores y otros especiales */
:root {
  --primary: #26d303;
  --secondary: #3f2f21;
  --bg-primary: rgba(202, 187, 97, 0.295);
  --bg-secondary: rgba(33, 34, 33, 0.493);
}

/* Selectores por Tag */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Selector por Clase */
.hero {
  background: url("https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_960/public/01_%C2%BFQu%C3%A9-puedo-hacer-si-mi-gato-est%C3%A1-triste-.png?itok=cOA5aYW-") no-repeat;
  background-size: contain;
  background-position: center;
  padding: 1rem;
  min-width: 668px
}
.hero--text{
  text-shadow: 2px 2px black;
}

.equipo--miembros{
  gap: 2rem;
}

@media (min-width: 992px){
.hero {
  background-size: cover;
  background-position: center;
  padding: 4rem;
}
}